GO_ENV="development"

# API
API_PORT=8080
API_HOST="0.0.0.0"

# Database
DB_PATH="./data/video_solicitation.db"
DB_RUN_MIGRATE=true

# AWS
AWS_REGION="us-east-2"
AWS_ENDPOINT=http://localstack:4566

# S3
AWS_S3_BUCKET_NAME="video-solicitation-bucket"

# SQS
SQS_UPDATE_VIDEO_CHUNK_STATUS_QUEUE_URL=http://localstack:4566/000000000000/update-video-chunk-status
SQS_UPDATE_VIDEO_STATUS_QUEUE_URL=http://localstack:4566/000000000000/update-video-status
SQS_VIDEO_PROCESSING_ERROR_QUEUE_URL=http://localstack:4566/000000000000/video-processing-error

# SNS
ALL_CHUNK_PROCESSED_EVENT_ARN=arn:aws:sns:us-east-2:000000000000:all-chunk-processed
VIDEO_PROCESSED_ERROR_EVENT_ARN=arn:aws:sns:us-east-2:000000000000:video-processing-error